# Environment variables
.env
.env.local

# Python virtual environment
.venv/
venv/
ENV/
**herdnet-env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

*.jpg
*.png
*.jpeg

**/test_infer

**/test_infer/*.JPG

**.frontend-env/
app/images/

**/*.csv
**/*.jpeg
**/*.jpg

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Local development
.DS_Store
Thumbs.db

# Keep example environment file
!.env.example
!/datos/**/*.jpg

# Temporary files
*.tmp
temp/
tmp/
